[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
jest_multiple = "FvW3ydFticZ3icQrTLBqeDpFb8HVzeBnP9uCV3w7FRVE"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun test"

[hooks]
