[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
jest_multiple = "EEMw5bXyDq75hWqtQMXW6N3bsKnQhCBwRQAsg3sdnv4c"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun test"

[hooks]
