[tools]
bun = "1.3.6"
rust = "1.93.0"

[tasks.setup]
description = "Install the Dependencies"
run = "bun install"


[tasks.build]
description = "Build the Anchor Program"
run = "anchor keys sync && anchor build"


[tasks.test]
description = "Test the Anchor Program"
run = "anchor test"


[tasks.clean]
description = "Clean the Cache"
run = "anchor clean && rm -rf node_modules"

[shell_alias]
m = "mise"

[settings]

[settings.npm]
package_manager = "bun"
