[tools]
bun = "1.3.6"
"npm:oxfmt" = "latest"
"npm:oxlint" = "latest"

[tasks.setup]
description = "Install the Dependencies"
run = "bun install"

[tasks.sync]
description = "Sync Anchor keys"
run = "anchor keys sync"

[tasks.build]
depends = ["lint", "fmt", "sync"]
description = "Build the Anchor Program"
run = "anchor build"

[tasks.lint]
description = "Lint the project"
run = "oxlint --fix"

[tasks.fmt]
description = "format the project"
run = "oxfmt && cargo fmt --all"

[tasks.test]
depends = ["build"]
description = "Test the Anchor Program"
run = "anchor test"

[tasks.update]
description = "Update the Bun packages and Cargo dependencies"
run = "bun update && cargo update"

[tasks.clean]
description = "Clean the Cache"
run = "anchor clean && rm -rf node_modules"

[shell_alias]
m = "mise"

[settings]
jobs = 1

[settings.npm]
package_manager = "bun"
